# These owners will be the default owners for everything in the repo.
*       @cgoncalves94

# These owners will be the additional owners for the repo development practices and compliance.
*       @dkargatzis
